.question-hyperlink, .answer-hypherlink {
    color: #999;
}

body {
    background: #000; !IMPORTANT
    background-color: #000;
    color: #aaa; !IMPORTANT
}

#content {
    background: #191919;
}

#custom-header .nav-global {
    background: #333;
}

#custom-header .nav-global ul li a:link, #custom-header .nav-global ul li a:visited {
    color: #999;
}

.excerpt {
    color: #888;
}

.post-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
    color: #aaa;
    background-color: #333;
}

.topbar .topbar-links .search-container input[type=text] {
    background-color: #333;
    box-shadow: inset 0 1px 2px #333,0 0 0 #FFF;
}

.topbar .topbar-links .search-container input[type=text]:hover {
    background-color: #444;
    box-shadow: inset 0 1px 2px #333,0 0 2px rgba(0,119,204,0.1);
    color: #ccc;
}

.topbar .topbar-links .search-container input[type=text]:focus {
    background-color: #333;
    box-shadow: inset 0 1px 2px #333,0 0 2px rgba(0,119,204,0.1);
    color: #ccc;
}

.module.community-bulletin {
    background-color: #333;
    border: 1px solid #555;
}

.statscontainer .votes {
    color: #aaa;
}

.vote-count-post strong {
    color: #aaa;
}

.module h4 {
    color: #aaa;
}

.item-multiplier-count {
    color: #999;
}

.subheader h1, .subheader h2 {
    color: #999;
}

#footer .footerwrap {
    background-color: #191919;
}

#footer .top-footer-links a, #footer .top-footer-links a:visited {
    color: #999;
}

#footer th {
    color: #999;
}

#footer #footer-sites a, #footer #footer-sites a:visited {
    color: #888;
}

.newuser {
    background-color: #333;
    border: 1px solid #555;
}

.review-bar-container .review-bar {
    background-color: rgba(50,50,50,0.95);
}

pre {
    background-color: #333;
}

code {
    background-color: #333;
}

.owner {
    background-color: #333;
}

.review-bar-container .review-bar .review-instructions-reason {
    background-color: #222;
}

.diff-choices a, .diff-type-controls a {
    border: 1px solid #333;
    background-color: #222;
}

.diff-choices a:hover, .diff-type-controls a:hover {
    background-color: #111;
    border: 1px solid #222;
}

.diff-choices a.selected:hover, .diff-type-controls a.selected:hover, .diff-buttons a.selected:hover, .diff-choices a.selected:hover, .diff-type-controls a.selected:hover, .diff-buttons a.selected:hover {
    border: 1px solid #222;
    background-color: #111;
}

.diff-choices a.selected, .diff-type-controls a.selected, .diff-buttons a.selected, .diff-choices a.selected, .diff-type-controls a.selected, .diff-buttons a.selected {
    border: 1px solid #333;
    background-color: #222;
}

.revision-comment {
    color: #888;
}

#revisions .markdown-diff .full-diff .deleted>div {
    background-color: #222;
}

#revisions .markdown-diff .full-diff td {
    border-left: 4px solid #191919;
    border-right: 4px solid #191919;
}

span.diff-delete {
    color: #a10;
    background-color: #D4ACA1;
}

#revisions .markdown-diff .full-diff .inserted>div {
    background-color: #222;
}

.question-status {
    background-color: #333;
}

input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="datetime"], textarea {
    background-color: #333;
    color: #888;
}

.result-highlight {
    color: #ddd;
}

.page-numbers.current {
    color: #ccc;
    background-color: #444;
}

.page-numbers:hover {
    color: #ccc;
    background-color: #777;
}

#custom-header .nav-global .more.open {
    background: #333;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}

#custom-header .nav-global ul li ul {
    background: #333;
}

.topbar .topbar-icon-on, .topbar .topbar-icon-on:hover {
    background-color: #333 !important;
    color: rgba(100,100,100,0.86);
}

.topbar .icon-help.topbar-icon-on {
    color: rgba(175,175,175,0.86) !important;
    color: #ccc;
}

.topbar-dialog {
    background-color: #444;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    color: #ccc;
}

.topbar-dialog.help-dialog .item-summary {
    color: #ccc;
}

.topbar-dialog.help-dialog a:visited, .topbar-dialog.siteSwitcher-dialog a:visited {
    color: #1188dd;
}

.topbar-dialog .modal-content li:hover a:hover {
    background-color: #555;
    color: #2288dd;
}

.topbar-dialog .modal-content li:active a:active {
    background-color: #666;
    color: #2288dd;
}

.about-page .new-about-content-page h2.about-title {
    color: #999 !important;
    text-shadow: none;
}

.about-page .new-about-content-page .qa-block, .about-page .new-about-content-page .content-block {
    background-color: #191919;
    border: 1px solid #555;
}

#question-header .question-hyperlink {
    color: #999;
}

.about-page .new-about-content-page .user-info-rep {
    background-color: #222 !important;
    border: 1px solid #555;
}

kbd {
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #bbb inset
}

.post-menu>a:hover {
    color: #777;
}

#herobox {
    background-color: #111;
}

.deleted-answer {
    background-color: #100;
}

.label-key b, .label-key strong {
    color: #999;
}

.popup-suggested-edit .suggested-edit-container {
    background-color: #222;
}

.popup-suggested-edit .handle {
    background-color: #222;
}

.popup {
    background-color: #222;
}

.review-bar-container .review-bar {
    border: 1px solid #333;
}

.grippie {
    background-color: #222;
}

.edit-tags-wrapper>span>a:hover {
    color:#999;
}

.edit-tags-wrapper>span>a {
    color:#777;
}

.new-post-activity, #new-answer-activity {
    background-color: #111;
}

.tag-editor {
    background-color: #191919;
}

.stats .answered-accepted strong {
    background-color: #2D8151;
}

.stats .answered strong {
    color: #2D8151;
}

.question-hyperlink:visited, .answer-hypherlink:visited {
    color: #d95e0c;
}

.question-hyperlink:visited, .answer-hyperlink:visited, #hot-network-questions ul a:visited {
    color: #d95e0c;
}

.started a:not(.started-link), .started .mod-flair {
    color: #d95e0c;
}

a {
    color: #d95e0c;
}

.unanswered .mini-counts span {
    color: #777;
}

.topbar-dialog .header {
    background-color:#333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container {
    background-color: #333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container:hover {
    background-color: #444;
    border-left: 3px solid #2f96e8;
}

.topbar input[type="text"] {
    background-color:#444;
    border: 1px solid #333;
}

.topbar-dialog.siteSwitcher-dialog .modal-content {
    background-color: #444;
}

.topbar-dialog.inbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.modInbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.achievements-dialog .inbox-item .item-content .item-summary {
    color: #999;
}

.topbar-dialog.siteSwitcher-dialog .current-site li:hover {
    background-color: #555;
}

.topbar-dialog .modal-content li:hover {
    background-color: #555;
}

.post-tag:hover {
    background-color: #666;
    color: #ccc;
}

span.diff-add {
    background: #A0F48C;
    color: #405A04;
}

.avatar-card {
    box-shadow: inset 0 130px 0 #444;
}

.user-card .user-card-name {
    color: #999 !important;
}

.top-tags .tag-wrapper .tag-container {
    background: #222;
}

.top-tags .tag-wrapper .tag-container .col-12 .stat .number, .top-tags .tag-wrapper .tag-container .col-6 .stat .number {
    color: #999;
}

.user-card .user-stats .number {
    color: #999;
}

.user-page .card, .user-show-new .card {
    background: #222;
}

.user-page .card.rep-card .rep, .user-show-new .card.rep-card .rep {
    color: #999;
}

/*.message-text {*/
/*    background-color: #999;*/
/*}*/

.rep-card .progress-bar .percent, .progress-bar.green .percent, .rep-card .progress-bar-large .percent, .progress-bar-large.green .percent {
    background-color: #62fb71;
}

.user-page .card .subtitle, .user-show-new .card .subtitle {
    color: #999;
}

.progress-bar .label, .progress-bar-large .label {
    color: #555;
}

.subtabs a:hover, .filter a:hover {
    color: #555;
}

.badge3-alternate {
    background: #d7c9c0;
}

.badge2-alternate {
    background: #cbcccd;
}

.badge1-alternate {
    background: #ddd6c0;
}

.user-page .card.rep-card .graph, .user-show-new .card.rep-card .graph {
    background-image: none;
}

.user-page .card.impact-card .number a, .user-show-new .card.impact-card .number a {
    color: #999;
}

.user-page .subheader.reloaded .mini-avatar .name {
    color: #888;
}

.user-show-new .user-rep-chart-summary .user-rep-chart-summary-tooltip:hover {
    background-color: #191919;
}

.user-show-new .user-rep-chart-summary .user-rep-chart-summary-tooltip:hover {
    background-color: #191919;
}

.sidebar-element .list li .rep-and-badges {
    background-color: #191919;
}

.sidebar-element .list li .rep-and-badges:before {
    background: linear-gradient(270deg, #191919, rgba(255,255,255,0));
}

.sidebar-element .list li .rep-and-badges .reputation-score {
    color: #999;
}

.user-card .user-links {
    color: #999;
}

.user-card .user-links ul li a {
    color: #999;
}

.user-card .user-links ul li a:visited {
    color: #999;
}

.user-card .user-stats {
    color: #999;
}

.avatar-card .reputation {
    color: #aaa;
}

#hot-network-questions h4 a {
    color: #999;
}

#hot-network-questions a {
    color: #999;
}

.ad502-room {
    background: #333;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 1px solid #555;
}

.topbar {
    background: #222;
}

.question-hyperlink, .answer-hyperlink {
    color: #999;
}

.question-hyperlink:hover, .answer-hyperlink:hover, .question-hyperlink:active, .answer-hyperlink:active {
    color: #777;
}

.user-page h1 a, .user-page .subheader a {
    color: #888;
}

.badge-tag {
    background-color: #2f3337;
    color: #fff;
}

.badge-tag:hover {
    background-color: #111;
    color: #fff;
}

.votes-cast-stats th {
    color: #888;
}

.votes-cast-stats td.desc {
    color: #777;
}

#tabs a.youarehere:hover, .tabs a.youarehere:hover, .newnav .tabs-list-container .tabs-list .intellitab a.youarehere:hover {
    color: #999;
}

#tabs a.youarehere, .tabs a.youarehere, .newnav .tabs-list-container .tabs-list .intellitab a.youarehere {
    color: #777;
}

.privileges-wrapper .bars-wrapper .progress-bar .bar, .next-tag-badge-col .bars-wrapper .progress-bar .bar, .privileges-wrapper .bars-wrapper .progress-bar-large .bar, .next-tag-badge-col .bars-wrapper .progress-bar-large .bar {
    background: #333;
}

.progress-bar .label, .progress-bar-large .label {
    color: #999;
}

.user-page .card.impact-card .ppl-reached .label, .user-show-new .card.impact-card .ppl-reached .label {
    color: #999;
}

.answer-votes {
    color: #888;
}

.message.message-config {
    background: #333;
}

.message.message-config .message-tip.message-tip-top-right:before, .message.message-config .message-tip.message-tip-top-left:before {
    border-bottom: 6px solid #444;
}

/*.message-text {*/
/*    background-color: #333;*/
/*}*/


.message.message-config h1, .message.message-config h2, .message.message-config h3, .message.message-config h4 {
    color: #aaa;
}

.message.message-config {
    color: #999;
}

.message.message-config .message-close:hover, .contributor-dropdown .message-close:hover, .popup.popup-badges .message-close:hover, .message.message-config .popup-close a:hover, .contributor-dropdown .popup-close a:hover, .popup.popup-badges .popup-close a:hover {
    color: #999 !important;
}

.user-page h1 a, .user-page .subheader a {
    color: #999;
}

.user-page .subheader.reloaded .mini-avatar .name {
    color: #ccc;
}

.topbar-dialog .unread-item {
    background-color: #444;
}

.action-list .action-selected {
    background-color: #333;
}

/*.message-text { /*text in inbox*/
/*    background-color: #444;*/
/*}*/

/*.message-text:hover { /* text in inbox hovering */
/*    background-color: #555;*/
/*}*/

.owner-revision td { /*panel showing edit reason and editor name in revision history*/
    background-color: #333;
}
