/*Links to questions/answers*/
.question-hyperlink, .answer-hypherlink {
    color: #999;
}

/*body background color*/
body {
    background: #090909; !important
    background-color: #090909;
}

/*body text color*/
body {
    color: #aaa; !important
}

/*content background color*/
#content {
    background: #191919;
}

/*background for site links at very top*/
#custom-header .nav-global {
    background: #333;
}

/*link colors for sites*/
#custom-header .nav-global ul li a:link, #custom-header .nav-global ul li a:visited {
    color: #999;
}

/*question/answer escerpt text*/
.excerpt {
    color: #888;
}

/*tag background color*/
.post-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
    background-color: #333;
}

/*tag text color*/
.post-tag, .geo-tag, .container .chosen-choices .search-choice, .container .chosen-container-multi .chosen-choices li.search-choice {
    color: #aaa;
}

/*search bar (corner one on home page) background and shadow*/
.topbar .topbar-links .search-container input[type=text] {
    background-color: #333;
    box-shadow: inset 0 1px 2px #333,0 0 0 #FFF;
}

/*search bar hover background color*/
.topbar .topbar-links .search-container input[type=text]:hover {
    background-color: #444;
    box-shadow: inset 0 1px 2px #333,0 0 2px rgba(0,119,204,0.1);
}

/*search bar hover text color*/
.topbar .topbar-links .search-container input[type=text]:hover {
    color: #ccc;
}

/*search bar focus background color*/
.topbar .topbar-links .search-container input[type=text]:focus {
    background-color: #333;
    box-shadow: inset 0 1px 2px #333,0 0 2px rgba(0,119,204,0.1);
}

/*search bar focus text color*/
.topbar .topbar-links .search-container input[type=text]:focus {
    color: #ccc;
}

/*Hot Meta Posts background and border*/
.module.community-bulletin {
    background-color: #333;
    border: 1px solid #555;
}

.question-summary{
    border-bottom: 1px solid #444444;   
}

/*vote counter name ("votes") color (main page)*/
.statscontainer .votes {
    color: #aaa;
}

/*vote counter color (main page)*/
.vote-count-post strong {
    color: #aaa;
}

/*Favorite Tags title color*/
.module h4 {
    color: #aaa;
}

/*tag item counter (sidebar home page)*/
.item-multiplier-count {
    color: #999;
}

/*"All Questions" color*/
.subheader h1, .subheader h2 {
    color: #999;
}

.subheader {
    border-bottom: 1px solid #777;
}

/*footer bakground color*/
#footer .footerwrap {
    background-color: #191919;
}

/*footer link color*/
#footer .top-footer-links a, #footer .top-footer-links a:visited {
    color: #999;
}

/*footer visited link color*/
#footer #footer-sites a, #footer #footer-sites a:visited {
    color: #888;
}

/*footer category title color*/
#footer th {
    color: #999;
}

/*review intro ("Help improve the site")*/
.newuser {
    background-color: #333;
    border: 1px solid #555;
}

/*review type summary bar (in queue)*/
.review-bar-container .review-bar {
    background-color: rgba(50,50,50,0.95);
}

/*review reason (EX: "duplicate: This question has been...")*/
.review-bar-container .review-bar .review-instructions-reason {
    background-color: #222;
}

/*codeblock*/
pre {
    background-color: #333;
}

/*codeblock*/
code {
    background-color: #333;
}

/*akser username tile*/
.owner {
    background-color: #333;
}

/*edit review diff controls*/
.diff-choices a, .diff-type-controls a {
    border: 1px solid #333;
    background-color: #222;
}

/*edit review diff controls hover*/
.diff-choices a:hover, .diff-type-controls a:hover {
    background-color: #111;
    border: 1px solid #222;
}

/*edit review diff control hover/active*/
.diff-choices a.selected:hover, .diff-type-controls a.selected:hover, .diff-buttons a.selected:hover, .diff-choices a.selected:hover, .diff-type-controls a.selected:hover, .diff-buttons a.selected:hover {
    border: 1px solid #222;
    background-color: #111;
}

/*edit review diff control selected*/
.diff-choices a.selected, .diff-type-controls a.selected, .diff-buttons a.selected, .diff-choices a.selected, .diff-type-controls a.selected, .diff-buttons a.selected {
    border: 1px solid #333;
    background-color: #222;
}

/*suggested edit reason*/
.revision-comment {
    color: #888;
}

/*text removed in edit*/
#revisions .markdown-diff .full-diff .deleted>div {
    background-color: #222;
}

/*text removed in edit (red highlights)*/
span.diff-delete {
    color: #a10;
    background-color: #D4ACA1;
}

/*background color for diff*/
#revisions .markdown-diff .full-diff td {
    border-left: 4px solid #191919;
    border-right: 4px solid #191919;
}

/*text added in edit (green highlights)*/
#revisions .markdown-diff .full-diff .inserted>div {
    background-color: #222;
}

/*if a question is on hold, the reason shown*/
.question-status {
    background-color: #333;
}

/*search bar on search page (also other inputs)*/
input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="datetime"], textarea {
    background-color: #333;
    color: #888;
}

/*text that matches search term in results*/
.result-highlight {
    color: #ddd;
}

/*current page of results/questions/answers*/
.page-numbers.current {
    color: #ccc;
    background-color: #444;
}

/*page link hover*/
.page-numbers:hover {
    color: #ccc;
    background-color: #777;
}

/*More menu in site links at top*/
#custom-header .nav-global .more.open {
    background: #333;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
}

/*links under More menu*/
#custom-header .nav-global ul li ul {
    background: #333;
}

/*Communities/other SE sites menu*/
.topbar .topbar-icon-on, .topbar .topbar-icon-on:hover {
    background-color: #333 !important;
    color: rgba(100,100,100,0.86);
}

/*help menu*/
.topbar .icon-help.topbar-icon-on {
    color: rgba(175,175,175,0.86) !important;
    color: #ccc;
}

/*menus in topbar*/
.topbar-dialog {
    background-color: #444;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    color: #ccc;
}

/*summary for help topics in menu*/
.topbar-dialog.help-dialog .item-summary {
    color: #ccc;
}

/*visited links in help menu/site switcher*/
.topbar-dialog.help-dialog a:visited, .topbar-dialog.siteSwitcher-dialog a:visited {
    color: #1188dd;
}

/*hovered links in menus*/
.topbar-dialog .modal-content li:hover a:hover {
    background-color: #555;
    color: #2288dd;
}

/*active links in menus*/
.topbar-dialog .modal-content li:active a:active {
    background-color: #666;
    color: #2288dd;
}

/*********Tour Page***********/
.about-page .new-about-content-page h2.about-title {
    color: #999 !important;
    text-shadow: none;
}

.about-page .new-about-content-page .qa-block, .about-page .new-about-content-page .content-block {
    background-color: #191919;
    border: 1px solid #555;
}

#question-header .question-hyperlink {
    color: #999;
}

.about-page .new-about-content-page .user-info-rep {
    background-color: #222 !important;
    border: 1px solid #555;
}
/***************************/

/*keyboard button formatting*/
kbd {
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #bbb inset
}

.post-menu>a:hover {
    color: #777;
}

#herobox {
    background-color: #111;
}

.deleted-answer {
    background-color: #100;
}

.label-key b, .label-key strong {
    color: #999;
}

.popup-suggested-edit .suggested-edit-container {
    background-color: #222;
}

.popup-suggested-edit .handle {
    background-color: #222;
}

.popup {
    background-color: #222;
}

.review-bar-container .review-bar {
    border: 1px solid #333;
}

.grippie {
    background-color: #222;
}

.edit-tags-wrapper>span>a:hover {
    color:#999;
}

.edit-tags-wrapper>span>a {
    color:#777;
}

.new-post-activity, #new-answer-activity {
    background-color: #111;
}

.tag-editor {
    background-color: #191919;
}

.stats .answered-accepted strong {
    background-color: #2D8151;
}

.stats .answered strong {
    color: #2D8151;
}

/*.question-hyperlink:visited, .answer-hypherlink:visited {*/
    /*color: #d95e0c;*/
/*}*/

/*.question-hyperlink:visited, .answer-hyperlink:visited, #hot-network-questions ul a:visited {*/
    /*color: #d95e0c;*/
/*}*/

/*.started a:not(.started-link), .started .mod-flair {*/
    /*color: #d95e0c;*/
/*}*/

/*a {*/
    /*color: #d95e0c;*/
/*}*/

.unanswered .mini-counts span {
    color: #777;
}

.topbar-dialog .header {
    background-color:#333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container {
    background-color: #333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container:hover {
    background-color: #444;
    border-left: 3px solid #2f96e8;
}

.topbar input[type="text"] {
    background-color:#444;
    border: 1px solid #333;
}

.topbar-dialog.siteSwitcher-dialog .modal-content {
    background-color: #444;
}

.topbar-dialog.inbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.modInbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.achievements-dialog .inbox-item .item-content .item-summary {
    color: #999;
}

.topbar-dialog.siteSwitcher-dialog .current-site li:hover {
    background-color: #555;
}

.topbar-dialog .modal-content li:hover {
    background-color: #555;
}

.post-tag:hover {
    background-color: #666;
    color: #ccc;
}

.post-tag:before {
    background-color: #999;
}

span.diff-add {
    background: #A0F48C;
    color: #405A04;
}

.avatar-card {
    box-shadow: inset 0 130px 0 #444;
}

.user-card .user-card-name {
    color: #999 !important;
}

.top-tags .tag-wrapper .tag-container {
    background: #222;
}

.top-tags .tag-wrapper .tag-container .col-12 .stat .number, .top-tags .tag-wrapper .tag-container .col-6 .stat .number {
    color: #999;
}

.user-card .user-stats .number {
    color: #999;
}

.user-page .card, .user-show-new .card {
    background: #222;
}

.user-page .card.rep-card .rep, .user-show-new .card.rep-card .rep {
    color: #999;
}

/*.message-text {*/
/*    background-color: #999;*/
/*}*/

.rep-card .progress-bar .percent, .progress-bar.green .percent, .rep-card .progress-bar-large .percent, .progress-bar-large.green .percent {
    background-color: #62fb71;
}

.user-page .card .subtitle, .user-show-new .card .subtitle {
    color: #999;
}

.progress-bar .label, .progress-bar-large .label {
    color: #555;
}

.subtabs a:hover, .filter a:hover {
    color: #555;
}

.badge3-alternate {
    background: #d7c9c0;
}

.badge2-alternate {
    background: #cbcccd;
}

.badge1-alternate {
    background: #ddd6c0;
}

.user-page .card.rep-card .graph, .user-show-new .card.rep-card .graph {
    background-image: none;
}

.user-page .card.impact-card .number a, .user-show-new .card.impact-card .number a {
    color: #999;
}

.user-page .subheader.reloaded .mini-avatar .name {
    color: #888;
}

.user-show-new .user-rep-chart-summary .user-rep-chart-summary-tooltip:hover {
    background-color: #191919;
}

.user-show-new .user-rep-chart-summary .user-rep-chart-summary-tooltip:hover {
    background-color: #191919;
}

/* Event Highlighting (to test!) */
.user-show-new .user-rep-full .rep-recent-row .highlight-row {
    background-color: #252525;
}

.sidebar-element .list li .rep-and-badges {
    background-color: #191919;
}

.sidebar-element .list li .rep-and-badges:before {
    background: linear-gradient(270deg, #191919, rgba(255,255,255,0));
}

.sidebar-element .list li .rep-and-badges .reputation-score {
    color: #999;
}

.user-card .user-links {
    color: #999;
}

.user-card .user-links ul li a {
    color: #999;
}

.user-card .user-links ul li a:visited {
    color: #999;
}

.user-card .user-stats {
    color: #999;
}

.avatar-card .reputation {
    color: #aaa;
}

#hot-network-questions h4 a {
    color: #999;
}

#hot-network-questions a {
    color: #999;
}

.ad502-room {
    background: #333;
    border-bottom: 1px solid #555;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-top: 1px solid #555;
}

.topbar {
    background: #222;
}

.question-hyperlink, .answer-hyperlink {
    color: #999;
}

.question-hyperlink:hover, .answer-hyperlink:hover, .question-hyperlink:active, .answer-hyperlink:active {
    color: #777;
}

.user-page h1 a, .user-page .subheader a {
    color: #888;
}

.badge-tag {
    background-color: #2f3337;
    color: #fff;
}

.badge-tag:hover {
    background-color: #111;
    color: #fff;
}

.votes-cast-stats th {
    color: #888;
}

.votes-cast-stats td.desc {
    color: #777;
}

#tabs a.youarehere:hover, .tabs a.youarehere:hover, .newnav .tabs-list-container .tabs-list .intellitab a.youarehere:hover {
    color: #999;
}

#tabs a.youarehere, .tabs a.youarehere, .newnav .tabs-list-container .tabs-list .intellitab a.youarehere {
    color: #777;
}

.privileges-wrapper .bars-wrapper .progress-bar .bar, .next-tag-badge-col .bars-wrapper .progress-bar .bar, .privileges-wrapper .bars-wrapper .progress-bar-large .bar, .next-tag-badge-col .bars-wrapper .progress-bar-large .bar {
    background: #333;
}

.progress-bar .label, .progress-bar-large .label {
    color: #999;
}

.user-page .card.impact-card .ppl-reached .label, .user-show-new .card.impact-card .ppl-reached .label {
    color: #999;
}

.answer-votes {
    color: #888;
}

.message.message-config {
    background: #333;
}

.message.message-config .message-tip.message-tip-top-right:before, .message.message-config .message-tip.message-tip-top-left:before {
    border-bottom: 6px solid #444;
}

/*.message-text {*/
/*    background-color: #333;*/
/*}*/


.message.message-config h1, .message.message-config h2, .message.message-config h3, .message.message-config h4 {
    color: #aaa;
}

.message.message-config {
    color: #999;
}

.message.message-config .message-close:hover, .contributor-dropdown .message-close:hover, .popup.popup-badges .message-close:hover, .message.message-config .popup-close a:hover, .contributor-dropdown .popup-close a:hover, .popup.popup-badges .popup-close a:hover {
    color: #999 !important;
}

.user-page h1 a, .user-page .subheader a {
    color: #999;
}

.user-page .subheader.reloaded .mini-avatar .name {
    color: #ccc;
}

.topbar-dialog .unread-item {
    background-color: #444;
}

.action-list .action-selected {
    background-color: #333;
}

/*.message-text { /*text in inbox*/
/*    background-color: #444;*/
/*}*/

/*.message-text:hover { /* text in inbox hovering */
/*    background-color: #555;*/
/*}*/

.owner-revision td { /*panel showing edit reason and editor name in revision history*/
    background-color: #333;
}

.suggested-edit .body-diffs .full-diff .deleted>div,
.suggested-edit .body-diffs .full-diff .inserted>div { /* background color in suggested edits diffs for areas changed */
    background-color: #444;
}

.suggested-edit .body-diffs .full-diff td { /*edit diff body*/
    border-left: 4px solid #191919;
    border-right: 4px solid #191919;
}

blockquote { /*blockquotes*/
    background-color: #333;
}

a.bounty-link { /*start bounty link*/
    color: #999;
}

/*fix prettified code blocks*/
.pun, .pln {
    color: #999;
}

.str, .lit, .tag {
    color: #9f4949;
}

/*skipped line count in edit diffs*/
.suggested-edit .body-diffs .full-diff .skip {
    background-color: #111; !important
    border-top: 4px solid #222; !important
    border-bottom: 4px solid #222; !important
}

#revisions .markdown-diff .full-diff .skip {
    background-color: #111; !important
    border-top: 4px solid #222; !important
    border-bottom: 4px solid #222; !important
}

/*login form*/
#add-login-page #formContainer, #login-page #formContainer, #signup-page #formContainer {
    background-color: #333;
}

#add-login-page #or, #login-page #or, #signup-page #or {
    background-color: #333;
}

/*acct register link*/
#add-login-page #switch, #login-page #switch, #signup-page #switch {
    background-color: #333;
}

/*question dupe close dialog*/
.close-as-duplicate-pane .original-display .list-originals .list .item .stats {
    background-color: #333;
}

.close-as-duplicate-pane .original-display .list-originals .list .item.hover .stats {
    background-color: #444;
}

.close-as-duplicate-pane .original-display .list-originals .list .item {
    color: #999;
}

.close-as-duplicate-pane .original-display .list-originals .list .item.hover {
    background-color: #333;
}
 
.close-as-duplicate-pane .original-display .list-originals .list .item .body-summary {
    color: inherit;
}

/*revision info color*/
.revision td {
    background-color: #292929;
}

/*review queue stats*/
.stats-mainbar .task-stat-table td {
    background-color: #333;
    border: 5px solid #222;
}

/*current user's review stats in queue*/
.review-stats-current-user {
    background-color: #333;
}

.review-stats-count-current-user {
    background-color: #333;
}


/*new rep gained/lost*/ 
.user-show-new .user-rep-full .rep-recent-row {
    background-color: #111;
}

/*new responses*/
.user-show-new .highlight-row {
    background-color: #111;
}

/*closure stat light rows*/
.tools.close-stats .closure-stats .row:nth-child(odd), .tools.close-stats .custom-reasons .row:nth-child(odd) {
    background-color: #333;
}

/*image upload modal (possibly all modals)*/
.wmd-prompt-dialog {
    background-color: #222;
}

.modal {
    background-color: #222;
}

.modal.image-upload .modal-options {
    color: #999;
}

.modal.image-upload .modal-dropzone-default {
    background: #333;
}

.modal.image-upload .modal-dropzone-default:hover, .modal.image-upload .modal-dropzone-default.hover {
    background: #454545;
}


/* revision history */
.vote-revision td {
    background-color: #393939;
}

/*<kbd> elements*/
kbd {
    box-shadow: 0 1px 0 rgba(12,13,14,0.2),0 0 0 2px #333 inset;
    text-shadow: 0 1px 0 #777;
    background-color: #393939;
    border: 1px solid #333;
    color: #fff;
}

/*titles in user preferences*/
.title-box {
    background: #191919;
}
.title-box>.title {
    color: #ccc;
}

/*Edit Profile sidebar links*/
/*active and hovered link text color*/
#side-menu ul li>a:hover, #side-menu ul li>a.youarehere {
    color: #ccc;
}
/*link hover background*/
#side-menu ul li>a:hover {
    background: #333;
}
/*arrow sprites hover/active*/
#side-menu ul li>a:hover:after, #side-menu ul li>a.youarehere:after {
    background-position: -21px -370px;
}
/*privileges link sprite hover/active*/
#side-menu ul.external a:hover:after, #side-menu ul li.external a:hover:after {
    background-position: -49px -370px;
}

/*profile save success background*/
.val-success {
    background: #292929;
}

/* Sidebar widget titles */
.s-sidebarwidget--header {
    background: #333 !important;
    color: #fff !important;
}

/* Account page boxes */
.p-highlights .-card {
    background-color: #111 !important;
}

/* Footer */
.site-footer--container {
    background-color: unset !important;
}

/* topbar dialogs */
.topbar-dialog.network-logo-dialog .dialog-content {
    background: none !important;
}

/* selection list (achievements tracker) */
.popup._badge-selection .-list-item {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* inputs */
input[type="text"]:not(.s-input), input[type="password"]:not(.s-input), input[type="number"]:not(.s-input), input[type="email"]:not(.s-input), input[type="url"]:not(.s-input), input[type="search"]:not(.s-input), input[type="tel"]:not(.s-input), input[type="datetime"]:not(.s-input), input[type="datetime-local"]:not(.s-input), input[type="date"]:not(.s-input), textarea:not(.s-input) {
    background: none !important;
    color: unset !important;
}

/* gold progress */
.badge1-alternate,
.s-progress__gold .s-progress--bar {
    background-color: #aaa743 !important;
}

/* privilege progress */
.s-progress__privilege .s-progress--bar {
    background-color: #78be32 !important;
}

/* popup */
.p-highlights .menu-popout {
    background-color: #333 !important;
}

/* tags */
.p-top-tags .-tag-group {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* footer links */
.site-footer .-link {
    color: #aaa;
}

.site-footer .-link:hover {
    color: #fff;
}

.site-footer .-title a {
    color: #fff;
}

/* rep banner */
.p-highlights .-reputation .-meta-rep {
    background-color: #333 !important;
}

/* tabs */
#tabs a, .tabs a {
    background-color: #333 !important;
}

#tabs a.youarehere:hover, .tabs a.youarehere:hover, .newnav .tabs-list-container .tabs-list .intellitab a.youarehere:hover {
    color: #fff !important;
}

#tabs a.youarehere:hover, .tabs a.youarehere:hover {
    background-color: #5e5e5e !important;
}

/* links */
.nav-links .nav-links--link, .nav-links .nav-links--link:visited {
    color: #fff !important;
}

.nav-links .nav-links--link:hover, .nav-links .nav-links--link:focus, .nav-links .nav-links--link:active {
    color: #777 !important;
}

.s-btn__muted.s-btn__outlined:focus, .s-btn__muted.s-btn__outlined.is-selected {
    color: #fff !important;
}

.s-btn__muted.s-btn__outlined {
    color: #ccc !important;
}

.s-btn__muted.s-btn__outlined:hover, .s-btn__muted.s-btn__outlined:active {
    color: #aaa !important;
}

.bg-black-050 {
    background-color: #333 !important;
}

#sidebar .community-bulletin .bulletin-item-content a {
    color: #fff !important;
}

#sidebar .community-bulletin .bulletin-item-content a:hover {
    color: #aaa !important;
}

/* sidebar titles */
#sidebar h4 {
    color: #fff !important;
}

/* labels */
.f-label, label.f-label {
    color: unset !important;
}

/* list action */
.action-list:not(.popup-condensed) .action-selected {
    background-color: unset !important;
}

/* labels */
.s-label {
    color: unset !important;
}

/* container */
.-container {
    background-color: #333 !important;
}

/* top bar */
.top-bar {
    background-color: unset !important;
}

/* rep count */
.top-bar .my-profile .-rep {
    color: #aaa !important;
}

.top-bar .my-profile:hover {
    background-color: #444 !important;
}

/* top bar link */
.top-bar .-secondary .-item .-link:hover {
    background-color: #444 !important;
    color: unset !important;
}

/* logo */
.top-bar .-logo {
    background-color: #555 !important;
}

.top-bar a.-logo:hover {
    background-color: #666 !important;
}

/* comment upvote */
.comment-up-off:hover, .comment-up-on {
    color: unset !important;
}

.comment-up-off, .comment-flag, .comment-flag-off {
    color: rgba(150, 150, 150, 0.15) !important;
}

/* content */
body.user-page #content * {
    color: #fff;
}

/* cards */
.s-card {
    background-color: unset !important;
}

/* rep graph */
svg > rect {
    fill: transparent !important;
}

div > span {
    fill: transparent !important;
}

/* jobs background */
.sidebar-profile.is-visible {
    background-color: unset !important;
}
