body { /*body background*/
  background-color: #000 !important;
  background-image: none;
  color: #999;
}

a.signature { /*profile names in chat list*/
  color: #999;
}

.messages { /*message background and text color*/
  background-color: #333;
  color: #999;
  border: none;
}

.ob-post { /*test and backgroud color for embedded posts*/
  background-color: #191919;
  color: #999;
}

a { /*link color*/
  color: #d95e0c;
}

div.message .meta { /*chat control background (star, reply, flag buttons)*/
  background-color: #333;
  color: #999;
}

div.message.reply-child, 
div.message.reply-parent { /*change highlight color for messages in replies (hovering)*/
  background-color: #555 !important;
}

.highlight { /*change highlight color for reply targets (no hover)*/
  background-color: #555 !important;
}

.mention { /*highlight for messages pinging current user*/
  background-color: #d95e0c;
  color: #fff;
}

.mine .messages { /*message color for current user*/
  background-color: #222;
}

.popup, #main.message-admin-mode .message-controls, #conversation-sel { /*chat control popup (reply, flag, star, permalink)*/
  background: rgba(40,40,40,0.95);
  border: 1px solid #555;
  box-shadow: 0 1px 15px #555;
  color: #999;
}

.monologue .timestamp { /*timestamp color*/
  background-color: #999;
}

.room-info>.last-message { /*last message posted in joined chatrooms (sidebar preview)*/
  color: #3a8e5b;
}

.msg-small { /*"other rooms you're in"*/
  color: #777;
}

.system-message-container .system-message {
  color: #999 !important;
}

.message.neworedit,
.message.posted { /*new message color*/
  color: #3a8e5b;
}

#sidebar {
  color: #999;
}

.button {
  color: #222 !important;
}

#sidebar #info #roomtitle { /*room title shadow*/
  text-shadow: 0px 1px 0px #222;
}

.flair { /*rep under name in chat list*/
  color: #888;
}

#input { /*chatbox*/
  background-color: #191919;
  color: #999;
}

.wmd-prompt-dialog { /*upload dialog*/
  background-color: #191919;
  color: #999 !important;
}

.wmd-mini-button.selected:hover, .wmd-mini-button.selected  { /*selected button in upload dialog*/
  background-color: #444;
}

.wmd-mini-button:hover, .wmd-mini-button.selected { /*hovered button in upload dialog*/
  background-color: #555;
}

#input-area { /*background for bottom bar*/
  background: #555;
}

body.outside #container { /*text in room list*/
  color: #999;
}

.roomcard, 
.usercard { /*room list tile*/
  background: #333;
  color: #999 !important;
}

.subheader #tabs a.youarehere { /*active tab*/
  background: #333;
}

.subheader #tabs a:hover { /*hover tab*/
  background: #555;
}


/****************************************/
/**TOPBAR**/

.topbar-dialog .modal-content li:hover a:hover { /*inbox*/
    background-color: #555;
    color: #2288dd;
}

.topbar-dialog .modal-content li:active a:active { /*inbox*/
    background-color: #666;
    color: #2288dd;
}

.topbar {
    background: #222;
}

.topbar-dialog .header {
    background-color:#333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container {
    background-color: #333;
}

.topbar-dialog.siteSwitcher-dialog .current-site-container:hover {
    background-color: #444;
    border-left: 3px solid #2f96e8;
}

.topbar input[type="text"] {
    background-color:#444;
    border: 1px solid #333;
}

.topbar-dialog.siteSwitcher-dialog .modal-content {
    background-color: #444;
}

.topbar-dialog.inbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.modInbox-dialog .inbox-item .item-content .item-summary, .topbar-dialog.achievements-dialog .inbox-item .item-content .item-summary {
    color: #999;
}

.topbar-dialog.siteSwitcher-dialog .current-site li:hover {
    background-color: #555;
}

.topbar-dialog .modal-content li:hover {
    background-color: #555;
}

.topbar-dialog.help-dialog .item-summary {
    color: #ccc;
}

.topbar-dialog.help-dialog a:visited, .topbar-dialog.siteSwitcher-dialog a:visited {
    color: #1188dd;
}

.topbar-dialog .modal-content li:hover a:hover {
    background-color: #555;
    color: #2288dd;
}

.topbar-dialog .modal-content li:active a:active {
    background-color: #666;
    color: #2288dd;
}

.about-page .new-about-content-page h2.about-title {
    color: #999 !important;
    text-shadow: none;
}

.topbar-dialog {
    background-color: #444;
    border-left: 1px solid #292929;
    border-right: 1px solid #292929;
    border-bottom: 1px solid #292929;
    color: #ccc;
}

/*****************************/


/*embedded pages*/
.ob-wikipedia, .ob-amazon, .ob-gist, .ob-message, .ob-lpadbug, .ob-manpage, .ob-blog, .ob-exception, .ob-anime {
  background-color: #444;
  color: #999;
}
.ob-wikipedia-title a, .ob-amazon-title a, .ob-lpadbug-title a, .ob-manpage-title a, .ob-blog-title a, .ob-anime-title a { /*title*/
  color: #ccc;
}

div.ob-post-title a { /*titles of embedded Qs*/
    color: #ccc !important;
}

.room-mini { /*embedded chat link*/
    background-color: #444;
    color: #999;
}

.notification, #feed-ticker { /*notification bar*/
    background-color: #333;
}

.ob-tweet, .ob-twitteruser { /*twitter embed*/
    background-color: #222; !important
}

.ob-tweet .ob-status-text { /*twitter embed*/
    color: #999; !important
}

/*loading screen background*/
#loading {
    background: rgba(30,30,30,0.95);
}

/*loading message*/
#loading #loading-message {
  background: #333;
  box-shadow: 0 1px 15px #292929;
}

/*user onebox*/
.ob-user {
  background-color: #222;
}

/*upcoming events banner*/
.event-banner {
  background-color: #333;
}
