body {
  background-color: #000 !important;
}

a.signature {
  color: #999;
}

.messages {
  background-color: #333;
  color: #999;
}

.ob-post {
  background-color: #191919;
  color: #999;
}

a {
  color: #999;
}