body { /*body background*/
  background-color: #000 !important;
}

a.signature { /*profile names in chat list*/
  color: #999;
}

.messages { /*message background and text color*/
  background-color: #333;
  color: #999;
}

.ob-post { /*test and backgroud color for embedded posts*/
  background-color: #191919;
  color: #999;
}

a { /*link color*/
  color: #999 !important;
}

div.message .meta { /*chat control background (star, reply, flag buttons)*/
  background-color: #333;
}

div.message.reply-child, 
div.message.reply-parent { /*change highlight color for messages in replies (hovering)*/
  background-color: #555 !important;
}

.highlight { /*change highlight color for reply targets (no hover)*/
  background-color: #DAA520 !important;
}

.mention { /*highlight for messages pinging current user*/
  background-color: #d95e0c;
  color: #fff;
}

.mine .messages { /*message color for current user*/
  background-color: #403a23;
}

.popup, #main.message-admin-mode .message-controls, #conversation-sel { /*chat control popup (reply, flag, star, permalink)*/
  background: rgba(100,100,100,0.95);
  border: 1px solid #555;
  box-shadow: 0 1px 15px #555;
}

.monologue .timestamp {
  background-color: #999;
}