body {
  background-color: #000 !important;
}

a.signature {
  color: #999;
}

.messages {
  background-color: #333;
  color: #999;
}

.ob-post {
  background-color: #191919;
  color: #999;
}

a {
  color: #999 !important;
}

div.message .meta {
  background-color: #333;
}

div.message.reply-child, 
div.message.reply-parent {
  background-color: #555 !important;
}

.mention {
  background-color: #d95e0c;
  color: #fff;
}

.mine .messages {
  background-color: #403a23;
}

.popup, #main.message-admin-mode .message-controls, #conversation-sel {
  background: rgba(150,150,150,0.95);
  border: 1px solid #333;
}